Flask==0.12.2
gunicorn==19.7.1

tensorflow
lucid
numpy
scipy

# Flow Libraries
decorator
toposort
utilspie

google-api-python-client==1.6.5
google-auth==1.4.1
google-auth-httplib2==0.0.3
google-cloud-datastore==1.6.0
google-cloud-storage