# Libraries
watchdog
decorator
lucid # for io - should be spun off?

# Google API
google-api-python-client==1.6.5
google-auth==1.4.1
google-auth-httplib2==0.0.3
google-cloud-datastore==1.6.0
google-cloud-storage

# Testing
pytest
pytest-watch
pytest-testmon
pytest-mock
mypy